Fire-Alarm-Dummy_Application/Fire Alarms Dummy Application.json
[
    {
        "id": "494219d5.d08178",
        "type": "tab",
        "label": "Fire Alarms Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ea033cf.3318fc",
        "type": "inject",
        "z": "494219d5.d08178",
        "name": "",
        "topic": "statues",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "5c29bfe4.50813"
            ]
        ]
    },
    {
        "id": "d8aa659e.b7de58",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/sentStatues.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "7555d9e7.4a4328"
            ]
        ]
    },
    {
        "id": "7555d9e7.4a4328",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c29bfe4.50813",
        "type": "function",
        "z": "494219d5.d08178",
        "name": "",
        "func": "var newmsg = {\n     payload:\n       {\n            \"device_id\": \"102\",\n            \"device_status\": \"Deactive\",\n            \"device_floor\": \"05\",\n            \"device_room\": \"20\",\n            \"device_smoke\": \"0\",\n            \"device_co2\": \"0\"\n    \n       },\n     headers:\n       {\n       'Content-Type': 'application/x-www-form-urlencoded'\n       }\n     };\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "d8aa659e.b7de58",
                "fb0977a4.ef0098",
                "29decc6a.ee82e4"
            ]
        ]
    },
    {
        "id": "fb0977a4.ef0098",
        "type": "switch",
        "z": "494219d5.d08178",
        "name": "co2",
        "property": "payload.device_co2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "348dadd0.834bf2"
            ]
        ]
    },
    {
        "id": "285f5f1f.d72a8",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "348dadd0.834bf2",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/mail.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "285f5f1f.d72a8"
            ]
        ]
    },
    {
        "id": "29decc6a.ee82e4",
        "type": "switch",
        "z": "494219d5.d08178",
        "name": "smoke",
        "property": "payload.device_smoke",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "90f82b1b.c59008"
            ]
        ]
    },
    {
        "id": "90f82b1b.c59008",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/mail.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "4f3f7bec.e440d4"
            ]
        ]
    },
    {
        "id": "4f3f7bec.e440d4",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "68b82833.24bcc8",
        "type": "inject",
        "z": "494219d5.d08178",
        "name": "",
        "topic": "statues",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "668f7847.075ca8"
            ]
        ]
    },
    {
        "id": "668f7847.075ca8",
        "type": "function",
        "z": "494219d5.d08178",
        "name": "",
        "func": "var newmsg = {\n     payload:\n       {\n            \"device_id\": \"303\",\n            \"device_status\": \"Active\",\n            \"device_floor\": \"08\",\n            \"device_room\": \"12\",\n            \"device_smoke\": \"6\",\n            \"device_co2\": \"8\"\n    \n       },\n     headers:\n       {\n       'Content-Type': 'application/x-www-form-urlencoded'\n       }\n     };\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "a7f75d19.056b9",
                "9be4a3a1.39107",
                "827620fe.b894f"
            ]
        ]
    },
    {
        "id": "9be4a3a1.39107",
        "type": "switch",
        "z": "494219d5.d08178",
        "name": "co2",
        "property": "payload.device_co2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "99809f2f.a6b83"
            ]
        ]
    },
    {
        "id": "827620fe.b894f",
        "type": "switch",
        "z": "494219d5.d08178",
        "name": "smoke",
        "property": "payload.device_smoke",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "9ced6945.987b68"
            ]
        ]
    },
    {
        "id": "a7f75d19.056b9",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/sentStatues.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "7bcec04.f2d604"
            ]
        ]
    },
    {
        "id": "99809f2f.a6b83",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/mail.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "6e5eefe7.2ea5b"
            ]
        ]
    },
    {
        "id": "9ced6945.987b68",
        "type": "http request",
        "z": "494219d5.d08178",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.firealermmonitoring.baishost.com/mail.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "7b0f6226.5f9aec"
            ]
        ]
    },
    {
        "id": "7bcec04.f2d604",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e5eefe7.2ea5b",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "7b0f6226.5f9aec",
        "type": "debug",
        "z": "494219d5.d08178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 600,
        "wires": []
    }
]